.Entity {
	border:medium solid black;
	text-align: center;
	width: 400px;
	padding: 6px;
}

.Entity:after, .Controls:after {
	content: " ";
   	display: block; 
   	height: 0; 
   	clear: both;
}

.EntityTitle {
	width: 100%;
	background-color: #f2f2f2;
}

.EntityTitleInput {
	width: 100%;
}

.EntityPropertyNameInput {
	width : 100%;
	padding: 2px;
}

.EntityTypeSelection {
	height: 100%;
	padding: 2px;
}

.EntityButtonHolder {
	height: auto;
	width: auto;
	float: left;
	padding-left: 8px;
	padding-right: 8px;
}

.ControlButtonHolder {
	float: left;
	padding: 8px;
}

.EntityRow {
	height: 40px;
	padding: 2px 0px;
	width: 100%;
	vertical-align: center;
}

.EntityTable {
	width: 100%;
	border-collapse: collapse;
}

.SchemaTable {
	border-spacing: 10px;
    border-collapse: separate;
}

.SchemaRow {
	vertical-align: top;
}

input{
   text-align:center;
}

table, tr, td{
	border: none;
	text-align: center;
}

tr {
	width: 100%;
}

td{
	width: auto;
}

.skinny {
	width: 20px;
}